*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}   

body{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background-size: cover;
}

/* background image */
.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.register-container {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    background-color: white; 
    padding: 20px;
    border-radius: 20px;
    border: 7px solid #323632;
    box-shadow: 0 0 10px rgb(236, 228, 228);
}


h2
{
	text-align: center;
	margin-bottom: 20px;
	color: #000000;
	font-size: 30px;
}

h1
{
	text-align: center;
	margin-bottom: 20px;
	color: #eedede;
	font-size: 17px;
	padding-bottom: 6px;
	color: rgb(0, 0, 0);
	border-bottom: solid 2px#0a0c08;

	
}


#registration-form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: white;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #62ca00;
	border-radius: 15px;
	background-color: #1e7a07;


}

button[type="submit"] 

{
	width: 50%;
	max-width: 500px;
	background-color:#1e7a07;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 90px;
	
	
	
}

button[type="submit"]:hover {
	background-color: #5fc763;
}